* {
	box-sizing: border-box;
	font-family: sans-serif;
	color: #ccc;
	background: #111;
}

a {
	color: #007bff;
	font-weight: bold;
	text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
}


.layout {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.header {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.5px solid #aaa;
}

.header__title {
	margin: 8px 16px;
	text-decoration: none;
	color: white;
	font-size: 20px
}

.header__title h3 {
	margin: 0
}

.header__nav_item {
	font-size: 20px;
	margin: 8px 16px;
}

.header__nav_cont {
	display: flex;
}

.page_layout {
	width: 100vw;
	display: flex;
	flex: 1;
	flex-direction: column;
}

.homepage {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 40px;
	padding-bottom: 60px;
}

.homepage__message {
	text-align: center;
	font-weight: normal;
}

.add_edit_note {
	flex-direction: row;
}

.add_edit_note__section {
	flex: 1;
	display: flex;
	padding-inline: 40px;
	flex-direction: column;
}

.add_edit_note__edit_section {
	border-right: 1px solid #ccc;
}


.add_edit_note__title_preview {
	height: 30px;
	border-bottom: 1px solid #aaa;
	color: white;
}

.add_edit_note__body_preview {
	height: 500px;
}


.add_edit_note__item {
	padding-block: 4px;
	margin: 8px;
}

.add_edit_note_input {
	padding: 6px;
	width: 50%;
	border: 0.5px solid #aaa;
	height: 30px
}

.add_edit_note_textarea {
	padding: 6px;
	height: 500px;
	resize: none;
}

.add_edit_note_button {
	cursor: pointer;
	width: 100px;
	background: #555;
	border: none;
	font-weight: bold;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
	border-radius: 4px;
}

.my_notes {
	flex-direction: row;
}

.my_notes__listing {
	display: flex;
	width: 30%;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	border-right: 1px solid #ccc;
}

.my_notes__note_card {
	position: relative;
	border-bottom: 1px solid #ddd;
	padding: 16px;
	max-height: 250px;
	transition: box-shadow 0.3s ease;
}

.my_notes__icon {
	position: absolute;
	right: 15px;
	top: 15px;
}

.my_notes__note_card:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
}

.my_notes__note_title {
	font-size: 18px;
	font-weight: bold;
	color: white;
	margin: 0 0 8px 0;
}

.my_notes__note_content {
	font-size: 14px;
	margin: 0;
	line-height: 1.4;
}

.my_notes__preview {
	padding: 16px;
	width: 70%;
}


.my_notes__active_note {
	border: 1px solid #007bff
}
